<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" type="image/ico" href="images/icon_page.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CRUD dinamico con HTMLS, CSS and JS">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">
    <title>Crud JS</title>
</head>
<body>
<header class="header" id="header">
    <figure class="logo">
        <img src="images/icon_page.png" height="60" alt="Logo de la pagina" />
    </figure>
    <nav class="menu">
        <ol>
            <li>
                <a class="link" href="#footer">Acerca de</a>
            </li>
            <li>
                <a class="link" href="#header">CRUD</a>
            </li>
        </ol>
    </nav>
</header>
<br/>
<form onsubmit="event.preventDefault();onSubmit();" autocomplete="off">
    <div class="tablita">
        <table class="tabla" id="tabla">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Domicilio</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div class="caja">
        <label for="nom">Nombre</label> <input type="text" id="nom" placeholder="Escriba aqui" required>
        <label for="ape">DNI</label> <input type="text" id="ape" placeholder="Escriba aqui" required>
        <label for="pais">Domicilio</label> <input type="text" id="pais" placeholder="Escriba aqui" required>
    </div>
    <br/>
    <input class="submit" type="submit" value="Enviar">
</form>
<br/>
<br/>
</div>

</body>
<script type="text/javascript" src="js/crud.js"></script>
</html>

